// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$background-brick: #b22222a6;
$main-blue: #7CEECE;
$new-main-blue: #01a0fd;
$blue-lite: #cdeafb;
$main-orange: #FFD085;
$background-site: #10a5a5;
$burgundy: #911E34;
$pink: #FDB7C5;
$pastel-zephyr: #DAF9F2;;
$pastel-wood-old: #FACEA3;
$pastel-wood: #cdb695;
$pastel-dark-wood-old: #90684d;
$pastel-dark-wood: #8a654c;
$dark-wood-active-category: #5f422e;
$main-red: #ff5252;

