// Fonts


// Variables
@import 'variables';
@import 'fonts';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.page-wrap {
    background-color: $pastel-zephyr;
    min-height: 100vh;
}

.load_avatar {
    font-size: 20px;

    span {
        font-size: 14px;
    }
}

.reg_form {
    box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
    padding: 30px 30px;
    margin-top: 30px;
}

.reg_header {
    text-align: center;
}

.login_form {
    box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
    padding: 30px 30px;
    margin-top: 30px;
}

.signin_header {
    text-align: center;
}

.reg_form,
.login_form {
    label {
        width: 100%;
    }
}

.wrap_reg,
.wrap_login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

button.page-link {
    display: inline-block;
}

button.page-link {
    font-size: 20px;
    color: #29b3ed;
    font-weight: 500;
}

.offset {
    width: 500px !important;
    margin: 20px auto;
}

.ratings {
    display: flex;
    flex-direction: row;

    span {
        display: block
    }

    .highlight_svg,
    .active_star svg {
        fill: #ff5252;
    }

}

.avarage-rating {
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
    font-weight: 500;

    strong {
        font-size: 22px;
    }
}

.current-rating {
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
    font-weight: 500;

    strong {
        font-size: 22px;
    }
}

.no-rating-yet {
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
    font-weight: 500;
    margin-left: 10px;
}

.poem-show-buttons {
    margin-top: 4px;

    .edit-button {
        display: flex;
        justify-content: center;

        .edit-poem-btn {
            width: 275px;
            text-align: center;

            a {
                text-align: center !important;
                padding-right: 0px !important;
                padding: 0 !important;
                display: flex !important;
                justify-content: center !important;
                align-items: center !important;
            }

        }
    }

    .rating-buttons {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        .reset-rating {
            width: 275px;
            text-align: center;
            margin-top: 20px;
        }
    }
}

.container {
    padding-top: 30px;
}

.poems {
    box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
    background-color: $blue-lite;

    .poems_list {
        list-style: none;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 15px;
        padding-bottom: 30px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        min-height: 924px;

        li {

            .poem_item {
                background-color: $pastel-zephyr;
                box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
                min-height: 300px;
                //height: 440px;
                overflow: hidden;
                display: flex;

                .poem_content {
                    margin-left: 20px;
                    margin-top: 20px;
                    width: 100%;
                    margin-bottom: 30px;

                    .poem_title {
                        a {
                            font-style: italic;
                            font-weight: 900;
                            color: black !important;
                            font-family: 'Comfortaa', cursive;
                            font-size: 20px;
                        }
                    }

                    .poem_author {
                        font-style: italic;
                        font-size: 12px;
                        font-weight: 300;
                        margin-top: 10px;
                        text-decoration: underline;
                    }

                    .poem_text {
                        margin-top: 10px;
                        height: 300px;
                        overflow-y: auto;

                        /* width */
                        &::-webkit-scrollbar {
                            width: 15px;
                            height: 10px;
                        }

                        // &::-webkit-scrollbar-track {
                        //     background: $pastel-wood;
                        // }

                        // /* Handle */
                        // &::-webkit-scrollbar-thumb {
                        //     background-color: $pastel-dark-wood;
                        //     display: block;

                        // }

                        // /* Handle on hover */
                        // &::-webkit-scrollbar-thumb:hover {
                        //     background-color: $pastel-dark-wood;
                        //     display: block;
                        // }

                        pre {
                            white-space: pre-wrap;
                            word-break: keep-all;
                            font-family: 'Old Standard TT', serif;
                            font-size: 16px;
                            font-style: italic;
                            color: black;
                        }
                    }
                }
            }

            // &:first-child {
            //     .poem_item {
            //         transform: rotate(7deg);
            //     }
            // }

            &:nth-child(2n) {
                .poem_item {
                    background-color: white;
                }
            }

            // &:nth-child(6n+4),
            // &:nth-child(6n+3) {
            //     .poem_item {
            //         transform: rotate(-7deg);
            //     }
            // }
        }

    }
}


.logo_wrapp {
    box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
    // padding-top: 15px;
    // padding-bottom: 15px;
    // background-color: $burgundy;
    padding: 0 0;

    img {}
}

.header_text {
    box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: $blue-lite;

    button:first-child {
        margin-left: 0px !important;
    }

    //background-color: $burgundy;
}

.main_content {
    margin-top: 30px;
}

.category_item {
    button {
        box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    }
}

.category_item .md-button .md-ripple {
    padding-left: 5px;
    padding-right: 5px;
    color: black;

    .md-button-content {
        font-family: 'Comfortaa', cursive;
        font-size: 14px;
        font-weight: 500;
    }
}

.categories_list {
    list-style: none;
    margin: 0 0;
    justify-content: space-between;
}


.categories {
    // border-left: 3px solid black;
    // border-top: 3px solid black;
    // border-right: 3px solid black;
    //background-color: $burgundy;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 15px;

    .category_item {
        button {
            background-color: white !important;

            .md-button-content {
                color: black ! important;
            }
        }

        .active_category {
            background-color: $main-blue !important;

            .md-button-content {
                color: black ! important;
            }
        }
    }
}

/* width */
::-webkit-scrollbar {
    width: 20px;
    height: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #01a0fd2e;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: $new-main-blue;
    display: block;
    width: 30px;
    height: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: $new-main-blue;
    display: block;
    width: 30px;
    height: 30px;
}

.pagination-wrap {
    margin-top: 20px;
    margin-bottom: 20px;

    .pagination {
        .page-item {
            a {
                background-color: $new-main-blue !important;
                color: white !important;
                font-weight: 700 !important;
            }

            &.page-number {
                a {
                    background-color: #daf9f2 !important;
                    color: black !important;
                }

                &.active {
                    a {
                        background-color: $main-blue !important;
                        color: black !important;
                    }
                }
            }
        }
    }
}


/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}



.modal {
    width: 100%;
    height: 100%;
    display: block;

    .modal-wrap {
        width: 300px;
        height: auto;
        background-color: white;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 11;
        background-color: #ffbc00;
        box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;

        .close-modal {
            .close {
                float: unset;
                position: absolute;
                font-size: 30px;
                right: 5px;
                top: 0;
            }
        }

        .modal-content {
            background-color: #ffffff;
        }
    }

    &:before {
        content: "";
        display: block;
        background: rgba(0, 0, 0, 0.6);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
    }
}

.duel_link {
    width: 100%;
    display: flex;
    /* text-align: center; */
    justify-content: center;
    padding-top: 10px;
    color: black !important;
    font-size: 16px;
    font-weight: 900;
}

.duels_list {
    list-style: none;
}

.duel-li {
    box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
}

.duel_header {
    margin-top: 20px;

    .duel_link {
        font-family: 'Comfortaa', cursive;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;

    }
}

.duels_list li {
    margin-top: 45px;
    background-color: $blue-lite !important;

    .duel_item {
        margin-top: 10px;

        .winner-status {
            margin-top: 15px;
            font-size: 20px;
            text-decoration: underline;
            color: #468c24;
            font-family: Comfortaa, sans-serif;
        }

        .duel_started_at {
            font-family: Comfortaa, sans-serif;
            font-size: 18px;
            color: black;
        }

        .duel_deadline_date {
            margin-top: 5px;
            font-family: Comfortaa, sans-serif;
            font-size: 18px;
            color: black;
        }

        .duel_desc {
            margin-top: 15px;

            pre {
                text-align: center;
                font-family: 'Comfortaa', cursive;
                font-size: 18px;
                font-weight: 500;
                color: black;
            }

        }
    }


}


/* .green{
    color: green;
  }
  .grey{
    color: #d1d1d1;
  } */
.duel_status {
    padding-top: 10px;
    text-align: end;
}

.duel_status_text {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    //border: 2px solid black;
    &.active {
        &::before {
            display: inline-block;
            content: '';
            -webkit-border-radius: 0.375rem;
            border-radius: 0.375rem;
            height: 0.75rem;
            width: 0.75rem;
            margin-right: 0.5rem;
            background-color: green;
            border: 1px solid black;
        }
    }

    &.non-active {
        &::before {
            display: inline-block;
            content: '';
            -webkit-border-radius: 0.375rem;
            border-radius: 0.375rem;
            height: 0.75rem;
            width: 0.75rem;
            margin-right: 0.5rem;
            background-color: red;
            border: 1px solid black;
        }

    }
}

.participant-item {
    margin-top: 20px;

    &:nth-child(2n+1) {
        border-right: 1px solid black;
    }

    .participant-avatar {
        margin-top: 10px;
        width: 100%;
        display: flex;
        justify-content: center;

        img {
            max-width: 300px;
        }
    }

    .participant-name {
        margin-top: 20px;
        font-family: 'Comfortaa', cursive;
        font-size: 18px;
        font-style: italic;
        text-decoration: underline;
    }

    .participant-poem {
        margin-top: 10px;

        &-title {
            font-family: 'Comfortaa', cursive;
            font-size: 20px;
            font-weight: 900;
        }

        &-content {
            margin-top: 10px;

            pre {
                white-space: pre-wrap;
                word-break: keep-all;
                font-family: "Old Standard TT", serif;
                font-size: 20px;
                font-style: italic;
                text-align: center;
                color: black;
            }
        }
    }
}

.poem-show-item {
    background-color: $blue-lite;
    margin-bottom: 30px;
    box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
    padding-bottom: 20px;

    .author-name {
        margin-top: 20px;
        font-family: 'Comfortaa', cursive;
        font-size: 18px;
        font-style: italic;
        text-decoration: underline;
        text-align: center;
    }

    .author-poem {
        margin-top: 25px;

        &-title {
            text-align: center;
            font-family: 'Comfortaa', cursive;
            font-size: 24px;
            font-weight: 900;
        }

        &-content {
            margin-top: 20px;

            pre {
                white-space: pre-wrap;
                word-break: keep-all;
                font-family: "Old Standard TT", serif;
                font-size: 20px;
                font-style: italic;
                text-align: center;
                color: black;
            }
        }
    }


}


.vote_icon {
    width: 25px;
    margin-bottom: 7px;
    margin-left: 5px;
}

.poems_nav,
.duels_nav {
    .md-button-content {
        a {
            padding: 5px 5px !important;
            font-size: 13px;
            justify-content: center;
        }
    }
}

.duels_nav {
    button:nth-child(3) {
        margin-top: auto;
    }
}

.vote-button-wrap {
    display: flex;
    justify-content: center;
}

.vote-button {
    padding: 5px 5px !important;
    background-color: $new-main-blue !important;
    color: white !important;
}

.edit-duel {
    padding: 5px 5px !important;
    background-color: $new-main-blue !important;

    .md-button-content {
        a {
            color: white !important;
        }
    }


}

.delete-duel {
    padding: 5px 13px !important;
}

.buttons_status {
    border-top: 1px solid black;
    margin-bottom: 20px;
    padding-top: 15px;
    margin-top: 10px;
}

.poem-form {
    .form-control {
        background-color: white !important;
        color: black;
    }

    .form-check {
        .form-check-input {
            width: 20px;
            height: 20px;
        }

        .form-check-label {
            margin-left: 10px;
            font-size: 20px;
            margin-top: 5px;
        }

    }

    .btn-form-create-update {
        background-color: $new-main-blue;
        margin-bottom: 20px;
        border-radius: 0;
        border: 0;
    }
}

.duel-form {
    .form-control {
        background-color: white !important;
        color: black;

    }

    select.form-control {
        margin-top: 15px;
    }

    .btn-form-create-update {
        background-color: $new-main-blue;
        margin-bottom: 20px;
        border-radius: 0;
        border: 0;
    }
}

.duel-create-wrap,
.duel-edit-wrap,
.poem-create-wrap,
.poem-edit-wrap {
    box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
    margin-top: 20px;
    background-color: $blue-lite;
    margin-bottom: 30px;
}

.mt-20 {
    margin-top: 20px;
}